body {
    margin:0
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.5;
    background-color:rgb(167, 239, 215);
    color:blueviolet;
    text-align:left;
}

header {
    
    background-color: rgb(69, 193, 151);
    align-items:center;
    color: blueviolet;
    text-align:left;
   margin-bottom:10px;
   border-bottom:3px solid blueviolet
}
h1{
    font-size:60px}
nav{
    text-decoration:underline
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav ul li {
    display:inline;
    margin-left:10px;
}
nav a {
    color:blueviolet;
    text-decoration:none;
}
img{
    margin-left:20px;
    width:200px;

}
a img{  
    border: 5px solid blueviolet;
    border-radius: 8px;
}
form{
    display: inline-block;
}
label {
    display:block;
    margin-bottom: 10px;
}
input[type="text"], input[type=area], textarea{
    width:100%;
    padding:10px;
    border:1px solid blueviolet
    border-radius:5px;
    transition: border-color 0.3s;
}
button {
    padding:10px 20px;
    background-color:aquamarine;
    color:blueviolet;
    border:none;
    border-radius:5px;
    cursor:pointer;
    border: 1px solid blueviolet;
}
button:hover {
    background-color:pink
}
footer{
    background-color:rgb(69, 193, 151);
    color:blueviolet;
    text-align:center;
    padding:20px ;
    width:100%;
    margin-top:10px;
}

#headline {
    width: 500px
}

.sub-box1 {
    text-align: center;
}

.content-wrapper {
 display: flex;
 flex-wrap: wrap;   
 justify-content:center
}

.projects img:hover {
    border: 2px solid pink;
}
.container{
    display:grid;
    grid-template-columns: 40% auto;
    grid-column-gap:10px;
    grid-row-gap:10px;
    width: 90%;
    margin: 0 auto;
}
#about-contact{
grid-column: 1/2;
background-color: rgb(69, 193, 151);
padding: 10px;
}
#projects{
grid-column: 2/4;
background-color: rgb(69, 193, 151);
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}
.contact-form .form {
    margin-bottom:20px;
}

@media (max-width: 768px) {
    header {
      text-align: center; 
    }
  
    h1 {
      font-size: 40px;
    }
  
    img {
      margin: 0 auto;
      display: block; 
      max-width: 90%; 
    }
  
    .container {
      grid-template-columns: 100%; 
    }
  
    #about-contact,
    #projects {
      grid-column: auto; 
      margin-bottom: 20px; 
    }
  }
  